* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
}

body {
    background: linear-gradient(hsl(234, 17%, 12%), hsl(350, 35%, 13%));

}

h1{
    color: hsl(0, 0%, 100%);
    margin: 90px 0px;
    font-size: 25px;
    letter-spacing: 8px;
}

h2{
    color: hsl(236, 21%, 26%);
    font-size: 12px;
    letter-spacing: 5px;
}

h3{
    color: rgb(238, 103, 125);
    font-size: 60px;
}

.star {
    background: url('images/bg-stars.svg');
}

.hills {
    background: url('images/pattern-hills.svg');
    position: relative;
    height: 30%;
    width: 100%;
    margin-top: 100px;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 100vh;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.card{
    display: flex;
    background: linear-gradient(hsl(235, 16%, 15%) 50%,
    hsl(237,21%, 20%)50%);
    height: 130px;
    width: 130px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.377);
    border-radius: 10px;
    margin: 15px;
    position: relative;
    transition: all .4s ease-in;
   
   
}