* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
}

body {
    background: linear-gradient(hsl(234, 17%, 12%), hsl(350, 35%, 13%));

}

h1{
    color: hsl(0, 0%, 100%);
    margin: 100px 0px;
}

h2{
    color: hsl(236, 21%, 26%);
}

.star {
    background: url('images/bg-stars.svg');
}

.hills {
    background: url('images/pattern-hills.svg');
    position: relative;
    height: 30%;
    width: 100%;
    margin-top: 150px;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-around;
    height: 100vh;
}